/* Variables must come first - use 'as *' to make them global */
@use 'base/variables' as *;
@use 'utils/mixins' as *;

/* base styles that use the variables */
@use 'base/reset';
@use 'base/global';  
@use 'base/typography';

/* layout styles for pages and views */

// PAGES 

// Admin pages
@use 'pages/admin/submit';
@use 'pages/admin/login';

// Awards pages
@use 'pages/awards/awardDetailed';
@use 'pages/awards/awardYear';

// components
@use 'components/footer';


