#newExhibitorNameInput {
    width: 100%; // full width of the column
}

#newAwardTypeInput {
    width: 100%; // full width of the column
}

.awardConflict-feedback {
    display: none; // hide by default
    color: red; 
    font-size: 0.875em; 
    margin-top: 0.25rem; 
}

.duplicate-feedback {
    display: none; // hide by default
    color: red; 
    font-size: 0.875em; 
    margin-top: 0.25rem; 
}