/* styles for column used ina upload page for awards missing images, 
which includes a dropdown to select the award and a section to display details 
of the award to help the user identify it and find the correct photo to upload */

