<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">
<header>
  <%- include('../../partials/header'); %>
</header>
<div class ="row mb-3">
    <h3 class="text-center">Admin - Orchid Input Form</h3>
</div>

<!-- Submission form -->

<div class = "container">
    <form>
        <!-- Exhibitor Name input from API -->
        <div class = "row mb-3">
            <div class = "col-6 col-sm-12">
            <label for="exhibitorSelect">Choose a Previous Exhibitor:</label>
            <select class = "exhibitorSelect" name="exhibitorSelect" id="exhibitorSelect">
                <option value="" disabled selected>Select Exhibitor</option>
            </select>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-check">
                    <input class = "form-check-input" type="checkbox" value="" id="newExhibitorCheck">
                    <label class = "form-check-label" for="newExhibitorCheck">New Exhibitor?</label>
                </div>
            </div>
            <div class = "col-3"> 
                <label for="newExhibitorNameInput">Exhibitor Name:</label>
            </div>
            <div class = "col-6">
                <input type="text" id="newExhibitorNameInput" name="newExhibitorName" disabled>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col">
                <label for="awardSelect">Award Type (AM, HCC, CEE, etc)</label>
                <select class = "awardSelect" name="awardSelect" id="awardSelect">
                <option value="" disabled selected>Select Award</option>
            </select>
            </div>
        </div>

        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-check">
                    <input class = "form-check-input" type="checkbox" value="" id="newAwardTypeCheck">
                    <label class = "form-check-label" for="newAwardTypeCheck">New Award Type?</label>
                </div>
            </div>
            <div class = "col-3">
                <label for="newAwardTypeInput">Award Type:</label>
            </div>
            <div class = "col-3">
                <input type="text" id="newAwardTypeInput" name="newAwardType" disabled>
            </div>
        </div>

        <div class = "row mb-3">
            <div class = "col-3">
                 <div class = "form-label">Award Value</div>
            </div>
            <div class = "col-3">
                <input type="form control" class="form-control" id="awardValue" name = "awardValue" placeholder="##" required>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-label">Award Number</div>
            </div>
            <div class = "col-3">
                <input type="form control" class="form-control" id="awardNumber" name = "awardNumber" placeholder="" required>
            </div>
        </div>

        <div class = "row mb-3">
            <div class = "col-2">
                <div class = "form-label">Event Title</div>
            </div>
            <div class = "col-10">
                <select class = "eventSelect" name="" id="eventSelect">
                    <option value="" disabled selected>Select Event</option>
                </select>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-check">
                    <input class = "form-check-input" type="checkbox" value="" id="newEventCheck">
                    <label class = "form-check-label" for="newEventCheck">New Event?</label>
                </div>
            </div>
            <div class = "col-9">
                <input type="text" id="newEventInput" name="newEvent" class="form-control" placeholder="Event Title" disabled>
            </div>
        </div>

        <div class = "row mb-3">
            <div class = "col-3">
                <div class="form-label">Event Date</div>
            </div>
            <div class = "col-9">
                <input type="date" id="eventDate" name="eventDate" required>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-label">Genus</div>
            </div>
            <div class = "col-9">
                <input type="form control" class="form-control" id="genus" name = "genus" placeholder="Genus" required>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-label">Hybrid/species</div>
            </div>
            <div class = "col-9">
                <input type="form control" class="form-control" name = "hybrid/species" id="Hybrid/species" placeholder="X / X" required>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-label">Clonal Name</div>
            </div>
            <div class = "col-9">
                 <input type="form control" class="form-control" id="clonalName" name = "clonalName" placeholder="Clonal Name (plaintext)" required>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-label">Cross</div>
            </div>
            <div class = "col-9">   
                <input type="form control" class="form-control" id="crossName" name = "crossName" placeholder="Cross (plaintext)" required>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-label">Photographer</div>
            </div>
            <div class = "col-6">
                <select class = "photographerSelect" name="photographerSelect" id="photographerSelect">
                    <option value="" disabled selected>Select Photographer</option>
                </select>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-check">
                    <input class = "form-check-input" type="checkbox" value="" id="newPhotographerCheck">
                    <label class = "form-check-label" for="newPhotographerCheck">New Photographer?</label>
                </div>
            </div>
            <div class = "col-6">   
                <input type="form control" class="form-control" id="newPhotographerInput" name = "photographer" placeholder="Photographer" required disabled>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div for="formFile" class="form-label">Award Photo (submit file uncompressed)</div>
            </div>
            <div class = "col-9">
                <input class="form-control" type="file" id="awardPhoto" name = "awardPhoto" required>
            </div>
        </div>

        <div class = "row mb-3">
            <h5 class ="text-center">Plant Measurements (in centimeters)</h5>
        </div>

        <div class= "row mb-3">
            <div class = "col-3">
                <div class = "form-label">Natural Spread (NS)</div>
            </div>
            <div class = "col-3">
                <input type="form control" class="form-control" id="NS" name = "NS" placeholder="XX" required>
            </div>
            <div class = "col-3">
                <div class = "form-label">Natural Spread Vertical (NSV)</div>
            </div>
             <div class = "col-3">
                <input type="form control" class="form-control" id="NSV" name = "NSV" placeholder="XX" required>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-label">Dorsal Speal Width (DSW)</div>
            </div>
             <div class = "col-3">
                <input type="form control" class="form-control" id="DSW" name = "DSW" placeholder="XX" required>
            </div>
            <div class = "col-3">
                <div class = "form-label">Dorsal Speal Length (DSL)</div>
            </div>
             <div class = "col-3">
                <input type="form control" class="form-control" id="DSL" name = "DSL" placeholder="XX" required>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-label">Petal Width (PETW)</div>
            </div>
             <div class = "col-3">
                <input type="form control" class="form-control" id="PETW" name = "PETW" placeholder="XX" required>
            </div>
            <div class = "col-3">
                <div class = "form-label">Petal Length (PETL)</div>
            </div>
            <div class = "col-3">
                <input type="form control" class="form-control" id="PETL" name = "PETL" placeholder="XX" required>
            </div>
        </div>
        <h5>
            <div class = "form-label text-center">Select option for measurements</div>
        </h5>
        <div class = "row mb-3">
            <div class ="col-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="measurements" id="Lip&LateralSepalOption" checked>
                    <label class="form-check-label" for="Lip&LateralSepalOption">Lip and Lateral Sepal</label>
                </div>
            </div>
            <div class = "col-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="measurements" id="Pouch&SynsepalOption">
                    <label class="form-check-label" for="Pouch&SynsepalOption">Pouch and Synsepal</label>
                </div>
            </div>
            <div class = "col-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="measurements" id="OtherOption">
                    <label class="form-check-label" for="OtherOption">Other (Displays, etc.)</label>
                </div>
            </div>
        </div>
        <div id = "lipLateralGroup">
            <h6 class="text-center">Lip and Lateral Sepal</h6>
            <div class = "row mb-3">
                <div class = "col-3">
                    <div class = "form-label">Lateral Sepal Width (LSW)</div>
                </div>
                <div class = "col-3">
                    <input type="form control" class="form-control" id="lsw" name = "lsw" placeholder="XX">
                </div>
                <div class = "col-3">
                    <div class = "form-label">Lateral Sepal Length (LSL)</div>
                </div>
                <div class = "col-3">
                    <input type="form control" class="form-control" id="lsl" name = "lsl" placeholder="XX">
                </div>
            </div>
            <div class = "row mb-3">
                <div class = "col-3">
                    <div class = "form-label">Lip Width (LIPW)</div>
                </div>
                <div class = "col-3">
                    <input type="form control" class="form-control" id="lipw" name = "lipw" placeholder="XX">
                </div>
                <div class = "col-3">
                    <div class = "form-label">Lip Length (LIPL)</div>
                </div>
                <div class = "col-3">
                    <input type="form control" class="form-control" id="lipl" name = "lipl" placeholder="XX">
                </div>
            </div>
        </div>
        <!-- Show Lip and Lateral group while updating the html, change to display none when not needed -->
        <div id = "pouchSynsepalGroup" style = "display:none">
            <h6 class="text-center">Pouch and Synsepal</h6>
            <div class = "row mb-3">
                <div class = "col-3">
                    <div class = "form-label">Synsepal Width (SYNSW)</div>
                </div>
                <div class = "col-3">
                    <input type="form control" class="form-control" id="synsw" name = "synsw" placeholder="XX">
                </div>
                <div class = "col-3">
                    <div class = "form-label">Synsepal Length (SYNSL)</div>
                </div>
                <div class = "col-3">
                    <input type="form control" class="form-control" id="synsl" name = "synsl" placeholder="XX">
                </div>
            </div>
            <div class = "row mb-3">
                <div class = "col-3">
                    <div class = "form-label">Pouch Width (PCHW)</div>
                </div>
                <div class = "col-3">
                    <input type="form control" class="form-control" id="pouchw" name = "pouchw" placeholder="XX">
                </div>
                <div class = "col-3">
                    <div class = "form-label">Pouch Length (PCHL)</div>
                </div>
                <div class = "col-3">
                    <input type="form control" class="form-control" id="pouchl" name = "pouchl" placeholder="XX">
                </div>  
            </div>
        </div>
        <div id = "generalMeasurements">
            <h5 class = "text-center">General Measurements</h5>
            <div class ="row mb-3">
                <div class = "col-3">
                    <div class = "form-label">Number of Flowers</div>
                </div>
                <div class = "col-3">
                    <input type="form control" class="form-control" id="numflowers" name = "numflowers" placeholder="XX" required>
                </div>
                <div class = "col-3">
                    <div class = "form-label">Number of Buds</div>
                </div>
                 <div class = "col-3">
                    <input type="form control" class="form-control" id="numBuds" name = "numBuds" placeholder="XX" required>
                </div>
            </div>
            <div class = "row mb-3">
                <div class = "col-3">
                    <div class = "form-label">Number of Inflorescences</div>
                </div>
                <div class = "col-3">
                    <input type="form control" class="form-control" id="numInfloresecnes" name = "numInfloresecnes" placeholder="XX" required>
                </div>
                <div class = "col-3">
                    <div class = "form-label">Inflorescence Length</div>
                </div>
                 <div class = "col-3">
                    <input type="form control" class="form-control" id="infloLength" name = "infloLength" placeholder="XX" required>
                </div>
            </div>

            <div class = "form-label">Plant description</div>
            <textarea class="form-control" id="description" name = "description" rows="5" required></textarea>

            <br>
            <input id = "submitBtn" type = "button" class = "btn btn-secondary" value = "Submit Form">
            <input type = "button" class = "btn btn-info" disabled onclick = "" value = "Put N/A for empty measurements">
            <input id = "testBtn" type = "button" class = "btn btn-success" value = "Test Submission">
        </form>

    </form>
</div>



<!-- Include list of preivous contributes for admin panel -->

<footer>
  <%- include('../../partials/footer'); %>
</footer>

<script src="/js/submit/loadInfo.js"></script>
<script src="/js/submit/formControl.js"></script>
<script src="/js/submit/formSubmit.js"></script>

</body>
</html>