<div class="footer">
<div class = "container" id = "bottomNavBar">
    <div class="row">
      <div class="col text-center">
        <h5>Resources</h5>
      </div>
      <div class="col text-center">
        <h5>Sister Organizations</h5>
      </div>
      <div class="col text-center">
        <h5>Attend</h5>
      </div>
    <div class = "row">
      <div class="col">
          <ul>
            <a href = "/personnel">PCJC Personnel</a><br>
            <a href = "https://www.aos.org/">American Orchid Society</a><br>
            <a href = "https://www.paccentraljc.org/articles/fleig.html">Photography Information</a><br>
            <a href = "https://www.orchidspecies.com/">Internet Orchid Society Encycolopedia</a><br>
            <a href = "#">Contact Us</a><br>
          </ul>
      </div>
      <div class="col">
        <ul>
          <a href = "https://www.paccentraljc.org/links.html">Other Orchid Societies</a><br>
          <a href = "https://www.paccentraljc.org/others.html">Other Judging Societies</a>
        </ul>
      </div>
      <div class="col">
        <ul>
          <a href = "https://www.paccentraljc.org/pac2.html">Location Information</a><br>
          <a href = "/calendar">Upcoming Events</a>
        </ul>
      </div>
    </div>
    </div>
</div>
</div>