<div class = "container" id = "bottomNavBar">
    <div class="row">
      <div class="col text-center">
        Resources
      </div>
      <div class="col text-center">
        Sister Organizations
      </div>
      <div class="col text-center">
        Attend
      </div>
    <div class = "row">
      <div class="col">
          <ul>
            <a href = "#">PCJC Personnel</a><br>
            <a href = "#">American Orchid Society</a><br>
            <a href = "#">Photography Information</a><br>
            <a href = "#">Internet Orchid Society Encycolopedia</a><br>
            <a href = "#">Contact Us</a><br>
          </ul>
      </div>
      <div class="col">
        <ul>
          <a href = "#">Other Orchid Societies</a><br>
          <a href = "#">Other Judging Societies</a>
        </ul>
      </div>
      <div class="col">
        <ul>
          <a href = "#">Location Information</a><br>
          <a href = "#">Upcoming Events</a>
        </ul>
      </div>
    </div>
    </div>
</div>