<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="container text-center my-5">
    <div class = "row">
      <div class = "col">
        <h4>Welcome to the Pacific Central Judging Center, Inc.</h4>
        <div class = "muted">of the American Orchid Society </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col">
        <div class = "row justify-content-center">
          <img src="/favicon/android-chrome-192x192.png" alt="PCJC Logo" class="img-fluid mb-4" style="max-width: 200px;">
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col">
        <div class = "row justify-content-center">
          <div>Placeholder image for top awards randomly chosen from recent competitions</div>
      </div>
    </div>
    <div class = "row mb-3 justify-content-center">
      <div class = "col-6">
        <div class = "row justify-content-center">
          <a href="/calendar" class="btn btn-primary btn-lg mt-4">View Upcoming Events</a>
        </div>
      </div>
    </div>
    <div class = "row mb-3">
      <div class = "col">
        <div class = "row justify-content-center">
          <h5>Recent Awards</h5>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-3">
        <div class = "row justify-content-center">
          <div>Placeholder info for recent award 1</div>
        </div>
      </div>
      <div class = "col-3">
        <div class = "row justify-content-center">
          <div>Placeholder info for recent award 2</div>
        </div>
    </div>
    <div class = "col-3">
      <div class = "row justify-content-center">
        <div>Placeholder info for recent award 3</div>
      </div>
    </div>
    <div class = "col-3">
      <div class = "row justify-content-center">
        <div>Placeholder info for recent award 4</div>
      </div>
    </div>
  </div>

  <!-- Show recent awards from the recent competitions, excluding awards with incomplete information or test awards-->



</main>


<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>