<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h3>Pacific Central Judging Center Personnel</h3>
  <div class = "container">
    <div class = "row">
      Sylvia Darr - Chair
    </div>
    <div class = "row">
      <div class = "col">
        <h4>Filoli Center</h4>
      </div>
      <div class = "col">
        <h4>San Francisco Center</h4>
      </div>
    </div>
    <div class = "row">
      <div class = "col">
        Sylvia Darr - Chair
      </div>
      <div class = "col">
        Ken Jacobsen - Chair
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>