<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
<header>
  <%- include('../partials/header'); %>
</header>

<h3 class="text-center">Submit an award</h3>
<!-- Submission form -->

<div class = "container">
    <div class = "row">
        <label for="exhibitor">Choose a Exhibitor:</label>
        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>
    <div class = "row">

        <label for="awardType">Choose a Award:</label>
        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>   
    </div>
</div>



<!-- Include list of preivous contributes for admin panel -->

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>