<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
<header>
  <%- include('../partials/header'); %>
</header>

<h3 class="text-center">Orchid Input Form - Submit an award</h3>
<!-- Submission form -->

<div class = "container">
    <form>
        <!-- Exhibitor Name input from API -->
        <div class = "row mb-3">
            <div class = "col-6 col-sm-12">
            <label for="exhibitorSelect">Choose a Previous Exhibitor:</label>
            <select class = "exhibitorSelect" name="exhibitorSelect" id="exhibitorSelect">
                <option value="" disabled selected>Select Exhibitor</option>
            </select>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col-3">
                <div class = "form-check">
                    <input class = "form-check-input" type="checkbox" value="" id="newExhibitorCheck">
                    <label class = "form-check-label" for="newExhibitorCheck">New Exhibitor?</label>
                </div>
            </div>
            <div class = "col-3"> 
                <label for="exhibitorName">Exhibitor Name:</label>
            </div>
            <div class = "col-6">
                <input type="text" id="newExhibitorNameInput" name="newExhibitorName">
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col">
                <label for="awardSelect">Award Type (AM, HCC, CEE, etc)</label>
                <select class = "awardSelect" name="awardSelect" id="awardSelect">
                <option value="" disabled selected>Select Award</option>
            </select>
            </div>
        </div>

        <div class = "row">
            <div class = "col-3">
                <div class = "form-check">
                    <input class = "form-check-input" type="checkbox" value="" id="newAwardTypeCheck">
                    <label class = "form-check-label" for="newAwardTypeCheck">New Award Type?</label>
                </div>
            </div>
            <div class = "col-3">
                <label for="newAwardTypeInput">Award Type:</label>
            </div>
            <div class = "col-6">
                <input type="text" id="newAwardTypeInput" name="newAwardType">
            </div>

        </div>

    </form>
</div>



<!-- Include list of preivous contributes for admin panel -->

<footer>
  <%- include('../partials/footer'); %>
</footer>

<script src="/js/submit-loadInfo.js"></script>

</body>
</html>