// body {
//   background-color: $color-bg;
// }

// a {
//   color: $color-primary;
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }
// }

// img {
//   max-width: 100%;
//   height: auto;
//   display: block;
// }
