// body {
//   // font-family: $font-body;
//   font-size: 16px;
//   line-height: 1.6;
//   color: $color-text;
// }

// h1, h2, h3, h4, h5, h6 {
//   font-family: $font-heading;
//   line-height: 1.25;
//   margin-bottom: $space-sm;
// }

// p {
//   margin-bottom: $space-md;
// }
