<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
    <div class = "container">
        <div class = "row">
            <div class = "col">
                <h2>About</h2>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <p>
                    The Pacific Central Judging Center (PCJC) is one of the American Orchid Society's 16 judging centers across the United States.
                </p>
                <p>
                    We are based in the San Francisco Bay Area and have two judging centers: the Filoli Center in Woodside, CA and the San Francisco County Fair Building in San Francisco, CA.
                </p>
            </div>
        </div>
    </div>  
</main>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>