<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
    <div class = "container">
        <div class = "row">
            <div class = "col">
                <h2>Contact Us & Feedback</h2>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <p>
                    If you have any questions, comments, or feedback, please feel free to reach out to us using the contact information below.
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <h4>Contact Information</h4>
                <p>Email: <a href="mailto:pcjcorchid@gmail.com">info@pcjc.org</a></p>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <h4>Feedback Form</h4>
                <div>You can send feedback about the website by filling out the form <a href = "https://docs.google.com/forms/d/1jwt7PFWzp7_H2yqK54Dtcwr1GaBhEH0YTbs2-8JzZ94/edit#responses">here</a>.</div>
            </div>
        </div>
    </div>  
</main>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>