<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
    <h2>Donate</h2>
  <div class = "container">
    <div class = "row">
      <div class = "col">
        <p>
          The Pacific Central Judging Center (PCJC) is a 501(c)(3) non-profit organization and relies on donations to support our mission of promoting orchid education and judging in the San Francisco Bay Area. Your generous contributions help us maintain our judging centers, organize events, and provide educational resources to orchid enthusiasts.
        </p>
        <p>
          If you would like to support the PCJC, please consider making a donation. Your contribution will directly impact our ability to continue providing valuable services to the orchid community. Thank you for your support!
        </p>
      </div>
    </div>
    <div class = "row">
      <div class = "col">
        <a href="#" class="btn btn-primary">Donate via PayPal</a>
      </div>
      <div class = "col">
        <a href="#" class="btn btn-secondary">Donate via Venmo</a>
      </div>
      <div class = "col">
        <a href="#" class="btn btn-success">Donate via Donorbox</a>
    </div>
  </div>
</main>

<footer>
  <%- include('../../partials/footer'); %>
</footer>

</body>
</html>