<div class = "container">
  <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Attend
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://www.paccentraljc.org/pac2.html">Location Information</a></li>
                  <li><a class="dropdown-item" href="https://www.paccentraljc.org/pac2.html">Upcoming Events</a></li>
                </ul>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/awardlist">Awards</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Resources
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/personnel">PCJC Personnel</a></li>
                <li><a class="dropdown-item" href="">American Orchid Society</a></li>
                <li><a class="dropdown-item" href="https://www.paccentraljc.org/articles/fleig.html">Photography Information</a></li>
                <li><a class="dropdown-item" href="#">Internet Orchid Encycolopedia</a></li>
                <li><a class="dropdown-item" href="#">Contact Us</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/form">Form Submission</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
</div>