<!-- Measurement data of the plant. To be filled in with data -->

<div class = "container">
  <p class="d-inline-flex gap-1">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Measurement Data
    </button>
  </p>
  <div class="collapse" id="collapseExample">
      <div>Measurement Data in centimeters "cm"</div>
    <div class = "row">
      <div class ="col-4">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Measurement</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">NS</th>
                <td>14.5</td>
              </tr>
              <tr>
                <th scope="row">NSV</th>
                <td>11.0</td>
              </tr>
              <tr>
                <th scope="row">DSW</th>
                <td>5.8</td>
              </tr>
              <tr>
                <th scope="row">DSL</th>
                <td>5.1</td>
              </tr>
              <tr>
                <th scope="row">PETW</th>
                <td>5.0</td>
              </tr>
              <tr>
                <th scope="row">PETL</th>
                <td>5.1</td>
              </tr>
              <tr>
                <th scope="row">LSW</th>
                <td>5.9</td>
              </tr>
              <tr>
                <th scope="row">LSL</th>
                <td>5.9</td>
              </tr>
              <tr>
                <th scope="row">LIPW</th>
                <td>6.0</td>
              </tr>
              <tr>
                <th scope="row">LIPL</th>
                <td>6.0</td>
              </tr>
              <tr>
                <th scope="row">Number of Flowers</th>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">Number of Buds</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Number of Inflorescence</th>
                <td>1</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>


    
    </div>  
</div>
