<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
<link rel="stylesheet" type="text/css" href="/css/awardyear.css">
</header>

<main>
    <div class = "container">
        <div class = "row">
            <div class = "col">    <h3>Year XXX Pacific Central Judging Awards</h3></div>
        </div>
        <table class = "table">
            <thead>
                <tr>
                    <th scope = "col">Event</th>
                    <th scope = "col">Awards</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan 7 - San Francisco Monthly</td>
                    <td>
                        <img class = "previewImage" src = "/images/image01.webp">
                        <img class = "previewImage" src = "/images/image02.jpg">
                        <img class = "previewImage" src = "/images/image03.jpg">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>